<a href="https://colab.research.google.com/github/w258y272/Julie-s-Homework/blob/main/Julie_Schott_Project_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to the Python Project Template Tutorial
This tutorial will describe how to run a Python Project on a sample data set. We searched and found some interesting Projects with an accompanying Data Set. 
Below are step by step instructions, regardless of the project.

**Step 1: Import Libraries Relevant to your Project**

You learned about select libraries in Python in the <u>**Python Basics** tutorial</u>

Libraries are a very powerful way of implementing a common code block into your project custom code to achieve an objective.

Let's look at how to *import a library* in our code. Let us import the **[os](https://docs.python.org/3/library/os.html)** library followed by the **[pandas](https://pandas.pydata.org/)** library.

In [ ]:
# The following line will import the OS library in your code, 
# and we can use it to access the files on your system.
import os

In [ ]:
# The following line will import the PANDAS library in our code
# and we can use it to access high performance data structures and data analysis tools.
import pandas as pd


- You will notice that we used a different notation for the pandas library `as pd`. <br>
- This means  we can use the alias pd as a variable to access the pandas library

- This shortcut comes in very handy when you have to write code to access the same library multiple times

Since python won't confirm if you've imported a library, we can use the following command to check if it was imported and what the version of it is
using `library name.__version__`

In [ ]:
## Let's run the check for the pandas library
# Remember we use pd to access pandas
pd.__version__

'1.3.5'


Data-sets we use in this course will be only in [CSV (Comma Separated Values)](https://docs.python.org/3/library/csv.html) format. 
The data is in a tabular format, but each value in a row will be separated by a comma.

**Step 2: Import the Data Set into Google Colab**


Look for this symbol <img alt="Folder Icon" src="https://imgur.com/VFR7y0c.jpg"> on the left panel, and click it.

A new pane called **Files** would open up, and it will show you a folder where you can store the datasets you would work on. <br>
Double Click on Files and import the CSV file provided to you called test_data_set.csv <br>
Click the **Upload** button under the **Files** pane and select the CSV file. Click the refresh button on the **Files** pane <br>
You should see the file under the **sample_data** folder <br>
Note: **sample_data** folder is present in all the Google Colab notebooks, and if you open it by clicking the arrow next to it, you can see it has many CSV files as well

For example,
the data set below test_data_set_csv.csv, if saved with a CSV extension, will have the first line containing the field names, followed by all the records. The fields in each record (row) are sepearted by a comma. 

**Name,Age,Gender**<br>
Brie,25,Female<br>
John,40,Male<br>
Rex,35,Male<br>
Maria,38,Female<br>

FIRST, we need to transform the data from the format above to a CVS file with each field in a seperate column. To do that, open the test_data_set_csv.csv file above in Excel. Use the **Data > Text to Columns** and follow the instructions to get the same information but with each field in a seperate columns. Save the file as **test_data_set_columns.csv**

**Step 3: Import the data set into a variable called data_1**

In [ ]:
## Importing the data-set in a variable called data_1
data_1 = pd.read_csv("test_data_set.csv")

## Showing a snapshot of the data
data_1.head()

    Name  Age  Gender
0   Brie   25  Female
1   John   40    Male
2    Rex   35    Male
3  Maria   38  Female

 First we look at `data_1 = pd.read_csv('test_data_set.csv')`
- `data_1` is the variable which points to the memory location where the data is loaded.
- `pd.read_csv('test_data_set.csv')` read_csv is the function provided by **pandas** to access and read a CSV file
- And then we put the file name of our CSV file within single quotes in the brackets of read_csv() function

Next, let's look at `data_1.head()`
- We are using the `head()` function to print the first 5 rows in the CSV file.

**Step 4: Do Basic Analysis on the Data**

In [ ]:
## Run a basic analysis on the data-set
data_1.describe()

             Age
count   4.000000
mean   34.500000
std     6.658328
min    25.000000
25%    32.500000
50%    36.500000
75%    38.500000
max    40.000000

The `describe()` function runs a simple statistical analysis (count, mean, standard deviation, minimum, maximum, etc) on the data-set

**Step 5: Run the Project per the Instructions** <br>