<a href="https://colab.research.google.com/github/w258y272/Julie-s-Homework/blob/main/Julie_Schott_Google_Colab_Python_Basic_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

<h1>Welcome to Google Colab (Colaboratory)!</h1>


Google Colab is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud.

With Google Colab you can write and execute code, save and share your analyses, and access powerful computing resources, all for free from your browser.

## Getting Started

The document you are reading is a  [Jupyter notebook](https://jupyter.org/), hosted in Google Colab. It is not a static page, but an interactive environment that lets you write and execute code in Python and other languages.

For example, here is a **code cell** with a short Python script that prints *Hello World!!*

Note: All the [blue underlined words](https://en.wikipedia.org/wiki/Hyperlink) are clickable and you can read more about a topic through them.

In [ ]:
print('Hello World!!')

Hello World!!

To execute the code in the above cell, select it with a click and then either press the play button to the left of the code, or use the keyboard shortcut "Command/Ctrl+Enter".

All cells modify the same global state, so variables that you define by executing a cell can be used in other cells:

---

Now to print a word/sentence (i.e. a string) we always use quotes to enclose it.
Both single quotes and doubles would work.

In [ ]:
# The following print statement prints the single quote with the string we want to print
print("Aman's car is blue.")

Aman's car is blue.

In [ ]:
# The following print statement prints the double quotes with the string we want to print
print('The mechanic "fixed" my car, ')

The mechanic "fixed" my car,

##Code Commenting

Comments helps improve code readability, code refactoring and provides brief documentation about the code within the code cell.

In [ ]:
# This is a comment

##Accessing your files (datasets, images, etc..) in Google Colab
* Click on the folder icon on the left side, this will open up a section called **Files**
* You'll see the option to upload files which can be used to perform operations on. But we'll look at that later.

---
## Variables and Literals in Python
A variable is a named location used to store data in the memory. Here's an example:

In [ ]:
a = 5

Here, **a** is a variable and we have assigned **5** to variable **a**

We do not need to define a variable type in Python. You can do something like this:

In [ ]:
a = 5
print("a =", 5)
a = "High five"
print("a =", a)

a = 5
a = High five

Initially, integer value **5** is assigned to the variable a. Then, the string **High five** is assigned to the same variable, this overwrites the previous value.

By the way, **5** is a numeric literal and **High five** is a string literal.

To learn more about variables and literals [click here](https://www.programiz.com/python-programming/variables-constants-literals)

Now, you would have observed that the print function printed **a = 5**, but both of the values we entered were separated by a comma.

To fix it we can also concatenate the values by type-casting (which will be discussed at the later point but [click here](https://www.geeksforgeeks.org/type-conversion-python/) if you want to read about it

---

##Operators

Operators are special symbols that carry out operations on operands (variables and values).

**Arithmetic operators** are used to perform mathematical operations like *addition, subtraction, multiplication* etc.

In [ ]:
x = 14
y = 4

# Add two operands
print('x + y =', x+y) # Output: x + y = 18

# Subtract right operand from the left
print('x - y =', x-y) # Output: x - y = 10

# Multiply two operands
print('x * y =', x*y) # Output: x * y = 56

# Divide left operand by the right one 
print('x / y =', x/y) # Output: x / y = 3.5

# Floor division (quotient)
print('x // y =', x//y) # Output: x // y = 3

# Remainder of the division of left operand by the right
print('x % y =', x%y) # Output: x % y = 2

# Left operand raised to the power of right (x^y)
print('x ** y =', x**y) # Output: x ** y = 38416

**Assignment operators** are used to assign values to variables. You have already seen the use of the **=** operator. Let's try some more assignment operators.

In [ ]:
x = 5

# x += 5 ----> x = x + 5
x += 5
print(x) # Output: 10

# x /= 5 ----> x = x / 5
x /= 5
print(x) # Output: 2.0

# The notation used here are coding shortcuts.

10
2.0

Other commonly used assignment operators: -=, *=, %=, //= and **=.

Visit [Python Operators](https://www.programiz.com/python-programming/operators) to learn about all operators in detail.

##Get Input from User

In Python, you can use input() function to take input from user. For example:

In [ ]:
inputString = input('Enter a sentence:')
print('The inputted string is:', inputString)

Enter a sentence:Julie Schott W258Y272
The inputted string is: Julie Schott W258Y272

##Python Numeric Types
Python supports integers, floating point numbers and complex numbers. They are defined as int, float and complex class in Python. In addition to that, booleans: True and False are a subtype of integers.

Below we have some basic numeric types. To read more about this topic [click here](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex)

In [ ]:
# Output: <class 'int'>
print(type(5))

# Output: <class 'float'>
print(type(5.0))

# Output: <class 'complex'>
c = 5 + 3j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

## Python Data Structures
Python offers a range of compound datatypes often referred to as sequences. You will learn about those built-in types in this section.

### Lists
A list is created by placing all the items (elements) inside a square bracket [] separated by commas.

It can have any number of items and they may be of different types (integer, float, string etc.)

In [ ]:
# empty list
my_list = []
print(my_list)
# list of integers
my_list = [1, 2, 3]
print(my_list)
# list with mixed data types
my_list = [1, "Hello", 3.4]
print(my_list)

[]
[1, 2, 3]
[1, 'Hello', 3.4]

#### To access elements of a list, we use *indexes*. 
In computers the index value starts at **0** and ends at **n-1**, for any array with a size **n**

In [ ]:
language = ["French", "German", "English", "Polish"]

# Accessing first element
print(language[0])

# Accessing the second element
print(language[1])

# Accessing fourth element
print(language[3])

French
German
Polish

Python also allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

Read more about lists [here](https://docs.python.org/3/tutorial/datastructures.html)

### Tuples
Tuple is similar to a list except you cannot change elements of a tuple once it is defined. Whereas in a list, items can be modified.

Basically, list is mutable whereas tuple is immutable. You can access elements of a tuple in a similar way like a list.

Read more about tuples [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

In [ ]:
language = ("French", "German", "English", "Polish")

#Printing all the values from the tuple
print(language)
print(language)
print(language[1]) # Output: German
print(language[2]) # Output: Polish
print(language[-1]) # Output: Polish

('French', 'German', 'English', 'Polish')
('French', 'German', 'English', 'Polish')
German
English
Polish

### String
A string is a sequence of characters. Here are different ways to create a string.

In [ ]:
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
the world of Python"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
the world of Python

You can access individual characters of a string using indexing (in a similar manner like lists and tuples). This is also called **string slicing**.

In [ ]:
str = 'Python tutorial'
print('str = ', str)

print('str[0] = ', str[0]) # Output: P

print('str[-1] = ', str[-1]) # Output: l

#slicing 2nd to 5th character i.e. include 2nd up to 5th but exclude the 5th 
print('str[1:5] = ', str[1:5]) # Output: ytho

#slicing 6th to 2nd last character i.e. include 6th up to -2 but exclude the -2
print('str[5:-2] = ', str[5:-2]) # Output: n tutori

str =  Python tutorial
str[0] =  P
str[-1] =  l
str[1:5] =  ytho
str[5:-2] =  n tutori

Strings are **immutable**. You cannot change elements of a string once it is assigned. However, you can assign one string to another. Also, you can delete the string using del operator.

Now we look at concatenation again!

Concatenation is probably the most common string operation. To concatenate strings, you use **+** operator. Similarly, the * operator can be used to repeat the string for a given number of times.

In [ ]:
str1 = 'Hello '
str2 = 'World!'

# Output: Hello World!
print(str1 + str2)

# Hello Hello Hello
print(str1 * 3)

Hello World!
Hello Hello Hello

#### Sets
A set is an unordered collection of items where every element is unique (no duplicates).

In [ ]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{'Hello', 1.0, (1, 2, 3)}

Sets are mutable. You can add, remove and delete elements of a set. However, you cannot replace one item of a set with another as they are unordered and indexing has no meaning.

We'll look at some commonly used set methods: add(), update() and remove().

In [ ]:
# set of integers
my_set = {1, 2, 3}

my_set.add(4)
print(my_set) # Output: {1, 2, 3, 4}

my_set.add(2)
print(my_set) # Output: {1, 2, 3, 4}

my_set.remove(4)
print(my_set) # Output: {1, 2, 3}

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3}

Let's try out some commonly used set operations. You'll notice these operations look like they can be used to solve probability questions.

In [ ]:
A = {1, 2, 3}
B = {2, 3, 4, 5}

# Equivalent to A.union(B) 
# Also equivalent to B.union(A)
print(A | B) # Output: {1, 2, 3, 4, 5}

# Equivalent to A.intersection(B)
# Also equivalent to B.intersection(A)
print (A & B) # Output: {2, 3}

# Set Difference
print (A - B) # Output: {1}

{1, 2, 3, 4, 5}
{2, 3}
{1}

---
### Dictionaries
Dictionary is an unordered collection of items.<br>
While other compound data types have only value as an element, a dictionary has a **key: value** pair. ([Read more here](https://docs.python.org/3/tutorial/datastructures.html#dictionaries))

In [ ]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

{'name': 'John', 1: [2, 4, 3]}

To access value from a dictionary, we use the key. For example:

In [ ]:
person_dictionary = {'name':'Jack', 'age': 26, 'salary': 4534.2}
print(person_dictionary['age']) # Output: 26

26

Here's how you can change, add or delete dictionary elements.<br>
*Note: Deleting a dictionary means that it will be removed from the computer's memory*

In [ ]:
person = {'name':'Jack', 'age': 26}

# Changing age to 36
person['age'] = 36 
print(person) # Output: {'name': 'Jack', 'age': 36}

# Adding salary key, value pair
person['salary'] = 4342.4
print(person) # Output: {'name': 'Jack', 'age': 36, 'salary': 4342.4}

# Deleting age
del person['age']
print(person) # Output: {'name': 'Jack', 'salary': 4342.4}

# Deleting the entire dictionary
del person

{'name': 'Jack', 'age': 36}
{'name': 'Jack', 'age': 36, 'salary': 4342.4}
{'name': 'Jack', 'salary': 4342.4}

### range() function in Python


*   range() returns an immutable sequence of numbers between the given start integer to the stop integer.
*   The output is iterable and you can convert it to list, tuple, set and so on.

In [ ]:
numbers = range(1, 6)

print(numbers) # Output: range(1, 6)

print(list(numbers)) # Output: [1, 2, 3, 4, 5]
print(tuple(numbers)) # Output: (1, 2, 3, 4, 5)
print(set(numbers)) # Output: {1, 2, 3, 4, 5}

print(dict.fromkeys(numbers, 99)) # Output: {1: 99, 2: 99, 3: 99, 4: 99, 5: 99}

range(1, 6)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{1: 99, 2: 99, 3: 99, 4: 99, 5: 99}

## Python Control Flow
###if...else Statement
The if...else statement is used if you want to perform different action (run different code) on different condition.

In [ ]:
# num = -1

num= 0

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")
    
    
# Output: Negative number

Zero

####Change the value to another number for variable **num**, you will see different results.
---
There can be zero or more elif parts, and the else part is optional.

* Most programming languages use {} to specify the block of code. Python uses indentation.

* A code block starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

* Generally, four whitespace is used for indentation and is preferred over tabs.

## Looping in Python
* **while Loop** - Like most programming languages, while loop is used to iterate over a block of code as long as the test expression (condition) is true.

[Read more about control flow here](https://docs.python.org/3/tutorial/controlflow.html)

In [ ]:
n = 100

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

print("The sum is", sum)

# Output: The sum is 5050

The sum is 5050

##Functions in Python
A function is a group of related statements that perform a specific task. We will use the `def` keyword to create functions in Python. We use functions for re-usability of code

In [ ]:
def print_lines():
  print("I am line 1.")
  print("I am line 2.")

# function call
print_lines()

I am line 1.
I am line 2.

A function can accept arguments and also return a value

In [ ]:
def add_numbers(a, b):
  sum = a + b
  return sum

result = add_numbers(4, 5)
print(result)

# Output: 9

9